.listing {
    display: grid;
    grid-template-columns: 80px 30% auto;;
    height: 90px;
}

.listing-image-container > img {
    height: 55px;
}

.listing-company-name {
    color: hsl(180, 29%, 50%);
    font-weight: 700;
}

.listing-position {
    font-weight: 700;
}

.featured-border {
    border-left: hsl(180, 29%, 50%) solid 5px;
}

.listing-more-info {
    color: hsl(180, 8%, 52%);
}