@import './styles/common.scss';

html, body, #root {
  height: 100%;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  font-family: $primaryFont;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}